/*格式化样式*/


/*顶部格式*/
	.top {
	/*background-color: #fff; 白色*/
	background-color: darkslategray;
	width: calc(100%);
	top: 0px;
	height: 50px;
	display: -webkit-box; 
	padding-top: 7px;
	box-sizing: border-box;
	z-index: 10000;
}

:root{ /*伪类：方便管理*/
		--base-top-margin:5px;
		--base-triangle:32px;
	}
.top-title{
		color: white;
		margin-left: calc(45%);
		margin-top: calc( var(--base-top-margin));
		position: absolute;
	}
		
.top-title-other{
		color: white;
		margin-left: calc(50% - 2* var(--base-triangle));
		margin-top: calc( var(--base-top-margin));
		position: absolute;
	}


/*全部页面颜色*/
.base{
	background-color: dark;
}
